html {
    background-color: #ECFDF5;
    
}

body {
    width: 500px;
    background-color: #273549; 
    margin: 30px;
    padding: 15px;
    border: 7px solid #2B283A;
    border-radius: 5px;
}

h1 {
    color: #ECFDF5;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: -0.05em;
}

#green-text {
    color: #10B981;
}

h4 {
    color: #ECFDF5;
    font-family: 'Inter', sans-serif;
    text-shadow: 0px 0px 1px black;
    padding-bottom: 20px;
}

#pass-btn {
    font-family: 'Karla', sans-serif;
    margin: auto auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10B981;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #ECFDF5;
    text-shadow: 2px 0px 3px red;
}

#pass-btn:hover {
    border: 3px solid #2B283A;
}

p {
    display: inline-flex;
    margin: 9px;
    margin-bottom: 30px;
    width: auto;
    padding: 10px;
    background-color: #2B283A;
    border-radius: 5px;
    color: #10B981;
    align-items: center;
}

p:hover {
    border: 3px dashed #10B981;
}

hr {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 410px;
    border: 1px solid #D5D4D8;
}

#passwords {
    display: flex;
    margin: auto;
    justify-content: center;
}